*{
    font-family:sans-serif;
}
body{
    background: black;
}

/* Contenedor externo*/
.container {
    display: flex;
    flex-wrap: wrap;
    background: #222;
    margin: 50px;
    padding: 50px;
    
}

/* Contenedor de imagen*/
.container__img img {
    min-width: 200px;
    max-width: 300px;
    align-items: center;
    background: white;
    border-radius: 50%;   
}


.container__form-input {
    display: block;
    width: 300px;    
    background: none;
    margin: 10px 0;
    border-bottom: 3px solid rgb(7, 114, 7);
    text-decoration: none;
}

.container__form textarea {
    resize: none;
    

}

input[TYPE="submit"] {
    background: rgb(34, 173, 64);
    border: none;
}