*{
    font-family:sans-serif;
}

/* Se aplica FLEXBOX al container */ 
.flex-container{
    display: flex;
    background: lightblue;
    

    
   

    
    /* ALINIAR EN EL CROSS AXIS */
    height:100vh; /* Obligatorio */
    /* align-content: center;  */     /* Para aliniar más de una fila */
}

/* Aplicar estilos SIN TENER ENCUENTA TAMAÑOS  */
.flex-container__item{
    background: rgb(31, 91, 170);
    margin: 5px;
    height: 100px;
    min-width: 200px; /* IMPORTANTE PARA EL TEMA */
}

.orange {
    background: orangered;
   
    flex-grow: 1;
}

.black {
    background: black;
    flex-grow: 3;

}